
header{
display: flex;
justify-content: center;
gap: 24px;
padding: 40px;
}

body{
background-color: black;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100%;
}

input{
font-size: 24px;
}

button{
height: 30px;
width: 100px;
border: none;
}
.galeria{
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
gap: 12px;
}

img{
height: 200px;
border: 2px solid white ;
}